.playground {
  margin-top: 10vh;
  height: 80vh;
  width: 720px;
  background-color: lightgray;
}

.board {
  display: grid;
  border: 1px solid #444;
  width: calc(10 * 25px);
  height: calc(24 * 25px);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.boardControl {
  display: flex;
  margin: 20px auto;
  width: 352px;
  flex-direction: row;
}

.start {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 101px;
  right: 100px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
