.playground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 80vh;
  width: 720px;
  background-color: lightgray;
}

.board {
  display: grid;
  outline: none;
  border-right: 5px solid blueviolet;
  width: calc(10 * 25px);
  height: calc(24 * 25px);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.boardBlock {
  border: 5px solid blueviolet;
  display: flex;
  height: calc(24 * 25px);
  width: 352px;
  flex-direction: row;
}

.start {
  margin-top: 10px;
  width: 102px;
  border: none;
  height: 50px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.controlBlock {
  display: flex;
  flex-direction: column;
  width: 100px;
}
